input {
    height: 35px;
    width: 60%;
    min-width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    display: block;
    border-radius: 0px;
    border: 1px solid #5BC8AC;
    &:focus {
        outline: none;
    }
}
textarea {
    height: 150px;
    min-width: 200px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    margin: 20px auto;
    width: 60%;
    display: block;
    border-radius: 0px;
    border: 1px solid #5BC8AC;
    &:focus {
        outline: none;
    }
}
button {
    display: block;
    margin: 30px auto;

}